@charset "UTF-8";

@font-face {
    font-family: Idroid;
    src: url(fontes/idroid.otf) format('opentype');
}
:root {
    --cor0: #4E8064;
    --cor1: #3CDB84;
    --cor2: #84E1AD;
    --cor3: #175A35;
    --cor4: #2FA866;
    --cor5: #1A5C38;
    --cor6: #C5EBD6;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor2);
    padding: 0px;
    border: 0px;
    margin: 0px;
    outline: 0px;
}
header {
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor0));

    text-align: center;
    text-shadow: 2px 0px 7px rgba(0, 0, 0, 0.8);

    padding: 30px 10px 10px 10px;
    margin: 0px;
    outline: 0px;
}
header > div {
    color: white;
}
header > nav {
    text-align: left;
    font-weight: bold;
}
nav > a {
    text-decoration: none;
    color: white;
    padding: 10px;
}
nav > a:hover {
    background-color: var(--cor2);
    color: var(--cor5);
}
main {
    max-width: 1000px;
    margin: auto;
    padding: 20px 5px 20px 5px;
    outline: 0px;

}
main > article {
    background-color: white;

    box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 0.459);

    padding: 4px 10px 10px 10px;
    margin: 0px 0px 0px 0px;

    border-radius: 0px 0px 10px 10px;
}
h2 {
    font-family: Idroid;
    color: var(--cor3);
}
h3 {
    font-family: Idroid;
    color: var(--cor3);
    background-image: linear-gradient(to right, #C5EBD6, white);
    padding: 0px 0px 0px 10px;
}

img {
    width: 100%;
}
.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}
main a {
    color: var(--cor0);
    background-color: var(--cor1);
    font-weight: bold;
    text-decoration: none;
}
main a:hover {
    text-decoration: underline;
    color: var(--cor2);
}
aside {
    background-color: var(--cor6);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 0.459);
}
aside h4 {
    background-color: var(--cor4);
    color: white;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
    margin: -10px -10px 0px -10px;
}
aside > ul {
    columns: 2;
    list-style-type: "\2714";
}
#linkespecial::after {
    content: "🔗";
}
footer {
    background-color: var(--cor5);
    color: #6DA184;
    text-align: center;
    font-style: italic;
    padding: 5px;
    font-size: 0.8em
}
footer a { 
    color: white;
    text-decoration: none;
    font-weight: bold;
}
footer a:hover {
    text-decoration: underline;
    color: var(--cor6);
}